---
---

<a href="/roulette" class="next-link">
    JUGAR
</a>

<style>
    .next-link {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #007BFF;
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
    }
</style>